body{
    background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
}

.col-md-7{
    margin-top: 150px;
    background: white;
    padding: 20px;
}
h1{
    background: #9f9292;
    color: white;
}

input , label{
    margin: 6px;
    font-size: 15px;
    font-weight: bold;
}